{%load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title> HOME PDC</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href=" {% static 'get/images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'get/images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'get/css/bootstrap.min.css' %}">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'get/css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'get/css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'get/css/custom.css' %}">




	 
  <link href="{% static 'get/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static 'get/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">

  <link href="{% static 'get/assets/vendor/aos/aos.css' %}" rel="stylesheet">
   <link href="{% static 'get/assets/css/style.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
	 

</head>

<body>
	<!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'getnow'   %} ">     	
					<img src="{% static 'get/images/logo.png' %}" alt="HOME" /> 
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>  
				<div class="collapse navbar-collapse" id="navbars-rs-food">
					<ul class="navbar-nav ml-auto">
						<!--<li class="nav-item active"><a class="nav-link" href="index.html">Home</a></li>-->
						  
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">About</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'organ' %}">Organizational Sturcture</a>
								<a class="dropdown-item" href="{% url 'topleaderget' %}">Leadership</a>
								<a class="dropdown-item" href="{% url 'service' %}">Services</a>
								<a class="dropdown-item" href="{% url 'missionvision'%}">Misson and Vision</a>
								<a class="dropdown-item" href="{% url 'duites' %} ">Duites and Responsblity</a>
							</div>
						</li>   
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Gallery</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'uploaderget' %}">Photos</a>
								<a class ="dropdown-item"href="">Videos</a>
							
							</div>  
						</li>   
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Resources</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'resource' %}">Resources </a>
								<a class="dropdown-item" href="{% url 'plandocs'%}">Planning Documents</a>
								<a class="dropdown-item" href="{% url 'report' %}">Reports</a>
								<a class="dropdown-item" href="{% url 'guide'%}">Guidelines & frameworks</a>
								<a class="dropdown-item" href="{% url 'rule'%}">Rule And Regulations </a>
								<a class="dropdown-item" href="{% url 'rule'%}">Proclamations, Rules  </a>
								<a class="dropdown-item" href="">Other Documents </a>

							</div>   	
						</li>  



						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Data</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="{% url 'resource' %}">Time Series Data </a>
						

							</div>
						</li> 
							<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Annoucements</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href=" {% url 'vacant' %} ">Vacancy </a>
								<a class="dropdown-item" href="{% url 'bid' %}">Bid</a>

							</div>  
						</li>  

						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Event/News</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">
								<a class="dropdown-item" href="">Event</a>
								<a class="dropdown-item" href="{% url 'news' %}">News</a> 
							
							
								<li class="nav-item"><a class="nav-link" href="">Contact Us</a></li>
							
								
								<img src="{% static 'get/images/ethiopian.png' %}" alt="" width=45 height=32 />
								
							</div>
						
						
					</ul>
								
						
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->
	
	<!-- Start slides -->

	<!-- End slides -->

	
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>SERVICES</h1>
				</div>
			</div>
		</div>
	</div>	


	
			<div class="row">                            {% for x in leaderpdc %} 
				<div class="col-md-4 col-sm-6">     
					<div class="our-team">
						<img src="{{x.uploaded_img.url }}">
						<div class="team-content">
							<h3 class="title">{{x.name}}</h3>
							<span class="post">{{x.postion}}</span>
							<ul class="social">
								<li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
					
					
				</div>
                   {% endfor %}
				

			
			</div>
		</div>
	</div>
	 <section id="services" class="services">
      <div class="container">

    

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="icofont-computer"></i></div>
            <h4 class="title"><a href="">Monitoring and evaluation </a></h4>
            <p class="description"> Monitoring and evaluation service in planning and developement commssion  </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href="">analyzing statsical data </a></h4>
            <p class="description">analysing statsical data service in planning and developement commssion         </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="icofont-earth"></i></div>
            <h4 class="title"><a href="">national Economy account</a></h4>
            <p class="description">national Economy account service in planning and developement commssion   </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="icofont-image"></i></div>
            <h4 class="title"><a href="">project apparisal</a></h4>
            <p class="description">project apparisal service in planning and developement commssion     </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="icofont-settings"></i></div>
            <h4 class="title"><a href="">population data </a></h4>
            <p class="description"> population data service in planning and developement commssion </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
            <h4 class="title"><a href=""> macro economy analysing</a></h4>
            <p class="description"> macro economy analysing service in planning and developement commssion </p>
		  </div>
		  
        </div>

      </div>
    </section><!-- End Services Section -->

	
	
	
	
	<!-- Start Customer Reviews -->
	
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->
	
	<!-- Start Contact info -->
<!-- End Customer Reviews -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+251-11-122-44-90/99
						</p>
						<p class="lead">
							+251-11-122-44-98
						</p>
						<p class="lead">
							+251-11-122-66-44
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Address</h4>
						<p class="lead">
							PO BOX  4472
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Fax</h4>
						<p class="lead">
							+251-11-122-67-09
						</p>
						<p class="lead">
							+251-11-122-66-42
						</p>
						<p class="lead">
							+251-11-122-44-97
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	
	<!-- Start Footer -->
	<footer class="footer-area bg-f">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About PDC</h3>
	<p> planning and developement commssion is established in 2005 and it's a goverement organization planning and developement commssion is established in 2005 and it's a goverement organizationplanning and developement commssion is established in 2005 and it's a goverement organizationplanning and developement commssion is established in 2005 and it's a goverement organizationplanning and developement commssion is established in 2005 and it's a goverement organization.</p> 
	
</div>



				<div class="col-lg-3 col-md-6">
					<h3>important Links</h3>
					<p><span class="text-color"><a href=" https://forms.gle/VjvwcRK2BP9Xgz2j8 ">Rate Our Website </span>   </a>   </p>
					<p><span class="text-color"><a href="http://lib.pdc.gov.et">PDC  library </span>   </a>   </p>   
					 <p><span class="text-color"><a href=" https://mail.pdc.gov.et/">PDC Mail </span> </a></p>
					 <p><span class="text-color"><a href=" ">Sectors  </span> </a></p>
					<p><span class="text-color"><a href=" ">PDC IT Support System </span> </a></p>
					<p><span class="text-color"><a href=" ">PDC HR management System </span> </a></p>
					<p><span class="text-color"><a href=" ">PDC Vehicle Management System </span> </a></p>
			
				   
				    <p><span class="text-color"><a href="https://www.un.org/development/desa/disabilities/about-us/sustainable-development-goals-sdgs-and-disability.html ">Sustainable Development Goals</span> </a></p>
				</div>
				<div class="col-lg-3 col-md-6">  
					
					<h3>Latest info</h3>  {% for x in get_list %}    
				
					<p><span class="text-color"><a href=" ">{{x.title}} </span>   </a>   </p> 
					
				
				    
					{% endfor %}
				</div>
			
				<div class="col-lg-3 col-md-6">
					<h3>Visitor </h3>
					

					<div class="subscribe_form">
					
					</div>
					<h3>Follow Us</h3>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
						<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FPDCETH&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=2819091678134468" width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
					</ul>
				</div>
			</div>
		</div>


	
	



			
		
		<div class="copyright">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<p class="company-name">All Rights Reserved &copy; 2020 <a href="#">PDC by ICT DIRECTORATE </a>
					    <p class="company-name"> <a href="#">Developer </a>
					</div>
				</div>
			</div>
		</div>
		
	</footer>
	<!-- End Footer -->
	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="{% static 'get/js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'get/js/popper.min.js' %}"></script>
	<script src="{% static 'get/js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'get/js/jquery.superslides.min.js' %}"></script>
	<script src="{% static 'get/js/images-loded.min.js' %}"></script>
	<script src="{% static 'get/js/isotope.min.js' %}"></script>
	<script src="{% static 'get/js/baguetteBox.min.js' %}"></script>
	<script src="{% static 'get/js/form-validator.min.js' %}"></script>
    <script src="{% static 'get/js/contact-form-script.js' %}"></script>
    <script src="{% static 'get/js/custom.js' %}"></script>






  <script src="{% static 'get/assets/vendor/jquery/jquery.min.js' %}"></script>
  
  <script src="{% static 'get/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'get/assets/vendor/jquery-sticky/jquery.sticky.js' %}"></script>
  <script src="{% static 'get/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'get/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'get/assets/vendor/counterup/counterup.min.js' %}"></script>

  <script src="{% static 'get/assets/vendor/aos/aos.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'get/assets/js/main.js' %}"></script>


</body>
</html>